*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  overflow-x: hidden;

}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.button {
  border-radius: 4px;
  width: 160px;
  height: 48px;
  text-align: center;
  position: relative;
  padding: 10px 20px;
  margin: 0 20px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: '';
    position: absolute;
    top: -5px;
    left: 6px;
    width: 100%;
    height: 100%;
    z-index: -9999;
    border-radius: inherit;
    transition: all .2s ease-in-out;
  }

  &:hover {
    &::after {
      transform: translate(-6px, 5px);
      border-color: transparent;
    }
  }
}

.button--primary {
  color: #fff;
  background: #000;

  &::after {
    background: #000;
  }

}

.button--ghost {
  color: #000;
  background: transparent;
  border: 2px solid #000;

  &::after {
    content: '';
    background: transparent;
    border: inherit;

  }
}

.mainWrapper {
  padding: 20px 70px;
  display: grid;
  grid-template-rows: 80vh 1fr 100px;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 30px;
}

.main-footer {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3;
  font-weight: 800;
  display: flex;
  align-items: center;
}

.cta-section {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;

  .cta-section__navbar {
    display: flex;
    justify-content: center;

    img {
      flex: 1;
      max-width: 100px;
    }

    ul {
      flex: 4;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      li {
        margin: 0 40px;
      }

      li a {
        color: #000;
        font-weight: 600;
      }
    }
  }

  .cta-section__content {
    flex: 6;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-size: 1.2rem;
      font-weight: 500;

    }

    h2 {
      font-size: 2rem;

    }

    .cta-section__content__buttons {
      margin-top: 50px;
      display: flex;
    }
  }




  .cta-section__navbar {
    flex: 1;
  }

  .pattern {
    position: absolute;
    top: -100px;
    right: -200px;
    z-index: -9999;
    max-width: 500px;
  }
}
